@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: segment_led;
    src: url(../14-segment-led/14\ Segment\ LED\ Regular.ttf);
}
.body-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/wwtb.jpg);
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
/* #lf1::before{
    content: url('');
    height: 30px;
    width: 4px;
    background-color: red;
    /* position: absolute; *
} */
.usedLine{
    color: #7c0909;
    border:2px solid #7c0909 !important;
}
/* #lf1::after{
    content: url('');
    height: 30px;
    width: 4px;
    background-color: red;
    position: absolute;
} */
.answer-btn{
    background: linear-gradient(360deg,rgb(48,75,96),rgb(4,12,21) 60%,rgb(48,75,96));
    backdrop-filter: blur(6tpx);
}
@media screen and (min-width:1000px) {
    .answer-btn:hover{
        background: linear-gradient(to bottom,#e1a73b 50%,#fff 5%,#f5aa1e 20%);
    }
}
.answer-btn-clicked{
    background: linear-gradient(to bottom,#e1a73b 50%,#fff 5%,#f5aa1e 20%);
}
.quest-box{
    background: linear-gradient(rgb(48,75,96),rgb(4,2,21) 60%,rgb(48,75,96));
}
.correct{
    background: linear-gradient(#08ad66,#00ff91,#039958);
    backdrop-filter: blur(6tpx);
}
.wrong{
    background: linear-gradient(#7c0909,#c50821,#7c0909);
    backdrop-filter: blur(6tpx);
}
.timerr{
    font-family: segment_led;
}
.gameBtn{
    animation-name: heartbeat;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes heartbeat {
    0%{
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
}
    100%{
        background-color: #e1a73b;
}
}